---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Hey! I'm Nicole"
	description="Some info about me"
	pubDate={new Date('February 16, 2023')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>I've been a web application developer for the last 10+ years. I've worked all over the web development stack, and I'm particularly interested in styling applications, design systems, UX, and visualizations. I love digging into code and finding out how things work. Most recently, I've been working as a senior engineer/architect on Nx Cloud. We're building something pretty cool, you should check it out.</p>
	<p>At university, I got a degree in Studio Art and have been drawing since high school. I spent a lot of time in school using charcoal, cheap acrylics, and student-quality oils and other traditional media. My favorite way to draw these days is with an iPad in Adobe Fresco.</p>
	<p>This site is a collection of my experiments and visual explorations, and highlights many interests that I dabble in. Don't be surprised if you see work in progress, I boldly aspire to give up the pursuit of perfection (and you should too).</p>
</Layout>
rl