---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="flex flex-col items-center space-y-8">
      <img src="/hey-im-nicole.png" width={720} alt="Hey I'm Nicole" />
      <div class="flex items-start space-x-4">
        <img
          src="/nicole-thinking.png"
          width={250}
          class=""
          alt="Hey I'm Nicole"
        />
        <div>
          <h4>
            I’m a product manager, software engineer and illustrator based in
            California. <span class="noto-color-emoji-regular">🐢</span>
          </h4>
          <p>
            At university, I trained in drawing and painting, and aspired to
            become a professional illustrator. I still draw as a hobby and
            <strong>illustrate technical topics</strong>, which I think is a fun
            and effective way to democratize complex topics.
          </p>
          <p>
            I’ve always had an affinity for computers and the web. For most of
            the last decade I’ve focused on creating intuitive experiences for
            the web as a software engineer. I’ve often worked on small scrappy
            teams where every developer wore many hats, and I’ve also consulted
            with large organizations such as Nintendo and T-Mobile, where teams
            are often quite specialized.
          </p>
          <p>
            In the last year, I’ve changed my focus to product. At Nx we’re
            building Nx Cloud, a powerful platform for achieving fast, reliable
            CI. It’s the most exciting thing I’ve worked on in my career.
          </p>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
